html, body {
	background-color: #f9f9f9;
}

.ui-header {
	background-image: none;
	background-color: #62CCB8 !important;
	border-bottom: 0.1em solid #35B59D;
	border-top-color: #8DF0DD;
	box-shadow: 2px 0 6px #999;
	height: 2.96em;
}

.ui-header h3.ui-title {
	font-size: 1.4em;
	margin: 0.4em auto;
	font-weight: 1000;
	font-family: Consolas, monaco, monospace;
	letter-spacing: 0.06em;
	text-shadow: 1px 1px 1px #888;
}

.ui-footer {
	background-image: none;
	background-color: #4AC4AE !important;
	border-top-color: #8DF0DD;
	border-bottom-color: #333;
	padding: 0.5em;
	text-align: center;
	box-shadow: -1px 0 6px #999;
	text-shadow: 1px 1px 1px #666;
	font-weight: 400 !important;
	color: #f8f8f8 !important;
}

#twt-alert.ui-footer {
	background-color: #ffffa8 !important;
	border-top-color: #FFFF47;
	color: #777 !important;
	text-shadow: 1px 1px 1px #f8f8f8;
}

a.menu-btn {
	width: 88px;
	height: 88px;
	border: 1px solid #ddd;
	margin: 0.30em 0.6em;

	border-radius: 6px;
	background-color: #fff;
	background-repeat: no-repeat;
	box-shadow: 1px 2px 6px #d9d9d9;

	display: inline-block;
	text-decoration: none;
}

a.menu-btn:hover {
	background-color: #f9f9f9;
	box-shadow: 1px 2px 4px #d4d4d4;
}

.ui-block-a .menu-btn { margin-right: 0.8em; }
.ui-block-b .menu-btn { margin-left: 0.8em; }

.menu-btn.passport, .card-icon.passport { background-image: url('../img/passport_128.png');}
.menu-btn.postcard, .card-icon.postcard { background-image: url('../img/postcard_128.png');}
.menu-btn.suitcase, .card-icon.suitcase { background-image: url('../img/suitcase_128.png');}
.menu-btn.scooter, .card-icon.scooter { background-image: url('../img/scooter_128.png');}
.menu-btn.map, .card-icon.map { background-image: url('../img/map_128.png');}
.menu-btn.news, .card-icon.news { background-image: url('../img/news_128.png');}
.menu-btn.prizes, .card-icon.prizes { background-image: url('../img/prizes_128.png');}

.menu-btn.prizes {
	position: relative;
}
.menu-btn.prizes > div {
	font-size: 0.60em;
	font-weight: 400;
	color: #666;
	text-decoration: none;
	position: absolute;
	bottom: 0.18em;
	text-align: center;
	text-decoration: none !important;
	width: 100%;
}

.menu-btn.passport, .menu-btn.postcard, .menu-btn.suitcase,
.menu-btn.scooter, .menu-btn.map, .menu-btn.news, .menu-btn.prizes {
	background-size: 80px 80px;
	background-position: center center;
}

.menu-btn #on-fire {
	position: relative;
	float: right;
	
	width: 20px;
	height: 28px;
	background-size: 20px 28px;

	top: -10px;
	right: -7px;

	background-image: url('../img/fire_128.png');
	background-repeat: none;
	background-position: center center;	
}

.card-icon, .user-icon {
	width: 70px;
	height: 70px;
	border: 1px solid #eee;
	margin: 0 auto;
	float: left;
	margin-right: 20px;
	background-image: none;
	background-repeat: no-repeat;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 1px 6px #888;
}

.card-icon.passport, .card-icon.postcard, .card-icon.suitcase,
.card-icon.scooter, .card-icon.map, .card-icon.news, .card-icon.prizes {
	background-size: 60px 60px;
	background-position: center center;
}

#cards-list {
	text-align: center;
	width: 282px;
	margin: 0 auto;
}
#cards-list .card-icon {
	width: 48px;
	height: 48px;
	background-size: 36px 36px;
	margin: 0.2em;
	border: 1px solid #eee;
	box-shadow: 1px 2px 4px #d9d9d9;
}
.card-title {
	padding: 0.4em;
	font-size: 120%;
	line-height: 140%;
}
.card-header, .user-header {
	border-bottom: 1px solid #eee;
	/*box-shadow: 0px 3px 6px #999;*/
	background-color: #D1E4CB;
	border-bottom-color: #9EB897;
}

.page-header {
	border-bottom: 1px solid #eee;
	/*box-shadow: 0px 3px 6px #999;*/
	/*background-color: #D1E4CB;*/
	border-bottom-color: #9EB897;
	text-align: center;
	padding: 0.6em;
}

.page-header h4 {
	margin: 0;
	padding: 0;
}

.have-need-btns {
	border-bottom: 1px solid #000;
}
.have-need-btns .ui-block-a, .have-need-btns .ui-block-b {
	height: 60px;
	border-right: 1px solid #eee;
	text-align: center;
}

.user-header .username {
	font-size: 84%;
	font-weight: 400;
	line-height: 150%;
}

.user-header .name {
	font-size: 110%;
	line-height: 186%;
}

.user-header .location {
	font-size: 84%;
	font-weight: 400;
	padding-top: 0.2em;
	line-height: 150%;
}

textarea {
	line-height: 180%;
	min-height: 90px;
}

.winners-content, .needy-users-content {
	padding: 0.3em;
}
.winners-content .winners, .needy-users-content .needy-users {
	height: 126px;
	overflow: hidden;
	position: relative;
	padding: 0;
}

.winners-content .user, .needy-users-content .user {
	display: inline-block;
}

.winners-content .user, .needy-users-content .user {
	padding: 0.4em;
	margin: 0;
	margin-right: 0.6em;
	min-width: 90px;
	max-width: 100px;
	height: 110px;
	overflow: hidden;

	cursor: hand;
	cursor: pointer;
}
.winners-content .user .user-icon, .needy-users-content .user .user-icon {
	float: none;
	margin: 0;
	margin-bottom: 0.4em;
}

.winners-content .user.link {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 80px !important;
	max-width: 80px;
	margin: 0 !important;
}

.winners-content .user.link > div {
	background-color: #62CCB8;
	font-size: 1.06em;
	font-weight: none !important;

	color: #fff;
	text-shadow: 1px 1px 2px #666;
	box-shadow: -3px 0px 9px #ddd;
	
	border-radius: 3px;

	width: 70px;
	max-width: 70px;
	height: 100px;
	max-height: 100px;

	padding: 0.2em;
}

#winners-count {
	font-size: 1.3em;
}

.winners-content .user .name, .needy-users-content .user .name {
	font-weight: 600;
	line-height: 140%;
	font-size: 82%;
	white-space: nowrap; overflow: scroll;
}

.winners-content .user .username, .needy-users-content .user .username {
	font-size: 72%;
	color: #888;
	line-height: 120%;
	white-space: nowrap; overflow: scroll;
}

li.twt {
	padding-left: .9em !important;
	padding-right: .9em !important;
	background-color: #f9f9f9 !important;
	background-image: none;
	border-color: #eee;
}

li.twt:hover {
	background-color: #f6f6f6 !important;
	background-image: none;
}

li.twt img.avatar {
	position: relative;
	border-radius: 6px;
	border: 1px solid #f1f1f1;
	box-shadow: 1px 2px 4px #ddd;
	width: 64px !important;
	height: 64px !important;
}

li.twt .timestamp {
	position: absolute;
	top: .6em;
	right: .6em;
	font-size: 88%;
	color: #ccc;
	font-weight: normal;
}

li.twt .name {
	font-weight: 800;
}

li.twt .username {
	font-weight: normal;
	font-size: 88%;
	color: #888;
}

li.twt .location {
	font-weight: 300;
	font-size: 92%;
	line-height: 120%;
}

li.twt .detail {
	padding-top: 0.3em;
	text-align: center;
}
li.twt .detail > div {
	width: 54px; 
	height: 54px; 
	background-color: transparent;
	display: inline-block;
	margin-right: .4em;
	background-size: 50px 50px;
	background-repeat: no-repeat;
}

li.twt .detail .icon-cards {
	background-image: url('../img/cards_64.png');		
}
li.twt .detail .icon-arrow.need {
	background-image: url('../img/arrow_in_64.png');	
}
li.twt .detail .icon-arrow.have {
	background-image: url('../img/arrow_out_64.png');	
}

li.twt .detail .icon-card { background-repeat: no-repeat; }
li.twt .detail .icon-card.passport { background-image: url('../img/passport_64.png'); }
li.twt .detail .icon-card.postcard { background-image: url('../img/postcard_64.png'); }
li.twt .detail .icon-card.scooter { background-image: url('../img/scooter_64.png'); }
li.twt .detail .icon-card.suitcase { background-image: url('../img/suitcase_64.png'); }
li.twt .detail .icon-card.map { background-image: url('../img/map_64.png'); }

li.twt .text { display: none; font-weight: 400; margin: 0.5em 0; min-height: 2.6em; line-height: 130%;}

.tell-have-need li {
	border-bottom: 1px solid #eee;
	padding-bottom: 0;
}
.tell-have-need li > a {
	height: 4.4em;
}

.ui-msg {
	border-radius: 1em;
	text-align: center;
	padding: 0.7em;
	margin: 0.2em auto;
	color: #fff;
	text-shadow: 0 1px 0 #444;
	display: none;
}

.ui-msg.error {
	background-color: #BA2762;
}

.ui-msg.success {
	background-color: #20963F;
}

#info .ui-content {
	line-height: 140%; 
	text-align: center;
	font-size: 90%;
}

/* adaptive screen sizes */
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {


}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 540px) {
	a.menu-btn {
		width: 120px;
		height: 120px;
		border: 1px solid #ddd;
		margin: 0.6em 1em;

		border-radius: 9px;
	}

	.menu-btn #on-fire {
		width: 30px;
		height: 43px;
		background-size: 30px 43px;

		top: -16px;
		right: -10px;
	}

	.menu-btn.prizes > div {
		font-size: 0.84em;
	}

	.ui-block-a .menu-btn { margin-right: 0.8em; }
	.ui-block-b .menu-btn { margin-left: 0.8em; }

	.menu-btn.passport, .menu-btn.postcard, .menu-btn.suitcase,
	.menu-btn.scooter, .menu-btn.map, .menu-btn.news {
		background-size: 110px 110px;
	}

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	/*.ui-page {
		width: 540px !important;
		margin: 0 auto !important;
		position: relative !important;
		box-shadow: 1px 1px 3px #ddd;
	}*/
	a.menu-btn {
		width: 120px;
		height: 120px;
		border: 1px solid #ddd;
		margin: 0.6em 1em;

		border-radius: 9px;
	}

	.menu-btn #on-fire {
		width: 30px;
		height: 43px;
		background-size: 30px 43px;

		top: -16px;
		right: -10px;
	}
	.menu-btn.prizes > div {
		font-size: 0.84em;
	}
	.ui-block-a .menu-btn { margin-right: 0.8em; }
	.ui-block-b .menu-btn { margin-left: 0.8em; }

	.menu-btn.passport, .menu-btn.postcard, .menu-btn.suitcase,
	.menu-btn.scooter, .menu-btn.map, .menu-btn.news {
		background-size: 110px 110px;
	}
}