<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- this is the part responsible for hidding the bottom bar -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<title>WildCards</title>
	<link rel="stylesheet"  href="css/themes/default/jquery.mobile-1.1.1.css" />
	<link rel="stylesheet"  href="css/game.css" />
	<script src="js/jquery.js"></script>
	<script src="js/jquery.mobile-1.1.1.js"></script>
	<script src="js/jquery.mobile.params.js"></script>
	<script src="js/mustache.js"></script>

	<script src="js/lawnchair.js"></script>
	<script src="js/lawnchair/adapters/memory.js"></script>
	<script src="js/lawnchair/adapters/dom.js"></script>
	<script src="js/lawnchair/adapters/webkit-sqlite.js"></script>

	<link rel="shortcut icon" href="img/icon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ios_icon_114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ios_icon_72.png">
    <link rel="apple-touch-icon-precomposed" href="img/icon/ios_icon_57.png">
</head>
<body>
<div data-role="page" id="home">
	<div data-role="header" data-position="fixed">
		<h3>*WildCards</h3>
		<a href="#info" data-icon="info" data-theme="d" data-iconpos="notext" class="ui-btn-right"></a>
	</div>
	<div data-role="content">
		<div style="text-align: center;">
			<a href="#card-passport" class="menu-btn passport" data-transition="slide"></a>
			<a href="#card-scooter" class="menu-btn scooter" data-transition="slide"></a>
		</div>

		<div style="text-align: center;">
			<a href="#card-suitcase" class="menu-btn suitcase" data-transition="slide"></a>
			<a href="#card-postcard" class="menu-btn postcard" data-transition="slide"></a>
		</div>

		<div style="text-align: center;">
			<a href="#card-map?hot=1" class="menu-btn map" data-transition="slide"><div id="on-fire"></div></a>
			<a href="#prizes" class="menu-btn prizes" data-transition="slideup">
				<div style="text-decoration: none;">$5000 prize!</div>
			</a>
		</div>
	</div>
	<a href="#news" data-transition="slideup" style="text-decoration: none;">
		<div data-role="footer" data-position="fixed">
			<div>Most recent announcements</div>
		</div>
	</a>
	<div data-role="footer" data-position="fixed" id="twt-alert" style="display: none;">
		<div>Your Tweet has been posted!</div>
	</div>
</div>

<!-- card page (template) -->
<script id="card-page-template" type="text/x-mustache-template">
<div data-role="page" id="card-{{card}}">
	<div data-role="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l" data-theme="d">Back</a>
		<h3>*WildCards</h3>
	</div>
	<div data-role="content" class="card-header">
		<div class="card-icon {{card}}"></div>
		<div class="card-title">
			Share or find <em>#{{card}}</em>
		</div>
	</div><!-- /content .card-header -->
	<div data-role="content">
		<a href="#tell-{{card}}" data-role="button" data-transition="slide">
			Tell people you have or need #{{card}}
		</a>
		<a href="#find-{{card}}-have" data-role="button" data-transition="slide">
			Find people who have #{{card}}
		</a>
	</div>
	<div class="hot" style="display: none;">
	<div data-role="content" class="page-header">
		<h4>
			<img src="img/fire_128.png" width="16px" style="margin-bottom: -3px;" />
			People who need #{{card}}
		</h4>
	</div>
	<div data-role="content" class="needy-users-content">
		<div class="needy-users">

		</div>
	</div>
	</div><!-- .hot -->
</div><!-- card page (template) -->
</script>

<!-- tell page (template) -->
<script id="tell-page-template" type="text/x-mustache-template">
<div data-role="page" id="tell-{{card}}" class="tell-page">
	<div data-role="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l" data-theme="d">Back</a>
		<h3>*WildCards</h3>
	</div>
	<div data-role="content" class="card-header">
		<div class="card-icon {{card}}"></div>
		<div class="card-title">
			Tell people you have/need <em>#{{card}}</em>
		</div>
	</div><!-- /content .card-header -->

	<div data-role="navbar" class="tell-have-need">
		<ul>
			<li><a class="ui-btn-active have">
				Have #{{card}}
				<br />
				<img src="img/cards_64.png" width="46px" />
				<img src="img/arrow_out_64.png" width="46px" />
			</a></li>
			<li><a class="need">
				Need #{{card}}
				<br />
				<img src="img/cards_64.png" width="46px" />
				<img src="img/arrow_in_64.png" width="46px" />
			</a></li>
		</ul>
	</div><!-- /navbar -->

	<div data-role="content" class="twt-box-content">
		<textarea class="twt-box">Playing #{{SPONSOR}} #{{GAME}} at #{{EVENT}} #have #{{card}}! Join the game {{BITLY}}</textarea>

		<a href="#" data-role="button" class="post-tweet">Post to Twitter</a>
		<div class="ui-msg success posted">Successfully posted ...</div>
		<div class="ui-msg success authed">Authorization successful ...</div>
		<div class="ui-msg error">Error encountered ...</div>
	</div>
</div><!-- tell page (template) -->
</script>

<!-- find page (template) -->
<script id="find-page-template" type="text/x-mustache-template">
<div data-role="page" id="find-{{card}}-{{type}}" class="find-page">
	<div data-role="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l" data-theme="d">Back</a>
		<h3>*WildCards</h3>
	</div>
	<div data-role="content" class="card-header">
		<div class="card-icon {{card}}"></div>
		<div class="card-title">
			Finding people who {{type}} <em>#{{card}}</em>
		</div>
	</div><!-- /content .card-header -->
	<div data-role="content" class="twts-content">
		<ul data-role="listview" class="twts">

		</ul>
	</div><!-- /content .tweets -->
</div><!-- find page (template) -->
</script>

<!-- user page (template) -->
<div data-role="page" id="user">
	<div data-role="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l" data-theme="d">Back</a>
		<h3>*WildCards</h3>
	</div>
	<div data-role="content" class="user-header">
		<div class="user-icon"></div>
		<div class="user-name">
			<span class="name"></span>
			<span class="card" style="display: none;"></span>
			<span class="type" style="display: none;"></span>
		</div>
		<div class="user-username">
			<span class="username"></span>
		</div>
		<div class="user-location">
			<span class="location">San Francisco</span>
		</div>
	</div><!-- /content .user-header -->
	<div data-role="content" class="twts-content">
		<ul data-role="listview" class="twts">
			<li>loading...</li>
		</ul>
	</div><!-- /content .tweets -->
</div><!-- user page -->

<!-- offer page (template) -->
<div data-role="page" id="offer">
	<div data-role="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l" data-theme="d">Back</a>
		<h3>*WildCards</h3>
	</div>
	<div data-role="content" class="user-header">
		<div class="user-icon"></div>
		<div class="user-name">
			<span class="name"></span>
			<span class="card" style="display: none;"></span>
			<span class="type" style="display: none;"></span>
		</div>
		<div class="user-username">
			<span class="username"></span>
		</div>
		<div class="user-location">
			<span class="location"></span>
		</div>
	</div><!-- /content .user-header -->
	<div data-role="content" class="twt-box-content">
		<h4 style="margin: 0.3em 0;">Finalize your offer</h4>
		<textarea class="twt-box"></textarea>

		<a href="#" data-role="button" class="post-tweet">Send offer</a>
		<div class="ui-msg success success">Successfully posted ...</div>
		<div class="ui-msg success authed">Authorization successful ...</div>
		<div class="ui-msg error">Error encountered ...</div>
	</div>
</div><!-- offer page -->

<!-- winners page -->
<div data-role="page" id="winners">
	<div data-role="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l" data-theme="d">Back</a>
		<h3>*WildCards</h3>
	</div>
	<div data-role="content" class="page-header">
		<h4>Winners</h4>
	</div>
	<div data-role="content" class="twts-content">
	<ul data-role="listview" class="twts users">
		<li>loading...</li>
	</ul>
	</div><!-- /content .tweets -->
</div>

<!-- prizes page -->
<div data-role="page" id="prizes">
	<div data-role="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l" data-theme="d">Back</a>
		<h3>*WildCards</h3>
	</div>
	<div data-role="content" class="page-header">
		<h4>Winners so far</h4>
	</div>
	<div data-role="content" class="winners-content">
		<div class="winners">
			<!-- winners here! -->
			<div id="winners-here"></div>

			<a href="#winners" data-transition="slideup" style="text-decoration: none;">
				<div class="user link">
					<div>
						<div id="winners-count"><!-- winners count --></div>winners
					</div>
				</div>
			</a>
		</div>
	</div>
	<div data-role="content" class="page-header">
		<h4>Prizes</h4>
	</div>
	<div data-role="content" class="twts-content">
	<ul data-role="listview" class="twts">
		<li>loading...</li>
	</ul>
	</div><!-- /content .tweets -->
</div>

<!-- news page -->
<div data-role="page" id="news">
	<div data-role="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l" data-theme="d">Back</a>
		<h3>*WildCards</h3>
	</div>
	<div data-role="content" class="page-header">
		<h4>Announcements</h4>
	</div>
	<div data-role="content" class="twts-content">
	<ul data-role="listview" class="twts">
		<li>loading...</li>
	</ul>
	</div><!-- /content .tweets -->
</div>

<!-- info page -->
<script id="info-page-template" type="text/x-mustache-template">
<div data-role="page" id="info">
	<div data-role="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l" data-theme="d">Back</a>
		<h3>*WildCards</h3>
	</div>
	<div data-role="content">
		<p>
			Welcome to {{GAME}}, a mobile and social game created for {{EVENT}} by {{SPONSOR}} using CloudSpokes. The objective of the game is to collect all five cards shown below. Those who do will be richly rewarded.
		</p>
		<p>
			<div id="cards-list">
				<div class="card-icon scooter"></div>
				<div class="card-icon passport"></div>
				<div class="card-icon suitcase"></div>
				<div class="card-icon postcard"></div>
				<div class="card-icon map"></div>
				<div style="clear: both;"></div>
			</div>
		</p>
		<p>
			Tell your friends about it!
			<br />
			[[Facebook]]   [[Twitter]]
		</p>
		<p>
			<i>Thanks for playing</i><br />
			<a href="http://appirio.com" target="_blank">
				<img src="img/appirio_logo.png" style="width: 14em;" />
			</a>
		</p>
	</div>
</div>
</script>

<!-- tweets template -->
<!-- template for tweets -->
<script id="tweets-template" type="text/x-mustache-template">
{{#tweets}}
  <li class="twt {{type}}" username="{{username}}" name="{{name}}" card="{{card}}" type="{{type}}" location="{{location}}">
		<img class="avatar" src="http://api.twitter.com/1/users/profile_image?size=bigger&screen_name={{username}}"/>
		<div style="margin-right: 0.56em;">
			<span class="name">{{name}}</span>&nbsp;
			<span class="username">@{{username}}</span>
		</div>
		<div class="detail">
			<div class="icon-cards"></div>
			<div class="icon-arrow {{type}}"></div>
			<div class="icon-card {{card}}"></div>
		</div>
		<div class="text" style="display: none;">{{text}}</div>
		<div class="timestamp">
			{{prettifytimestamp}}
		</div>
	</li>
{{/tweets}}
</script>

<!-- users (inline) template -->
<!-- used for .needy-users and .winners inline rendering -->
<script id="users-inline-template" type="text/x-mustache-template">
{{#tweets}}
	<div class="user">
		<div class="user-icon" style="background-image: url(http://api.twitter.com/1/users/profile_image?size=bigger&screen_name={{username}});"></div>
		<div class="name">{{name}}</div>
		<div class="username">@{{username}}</div>
	</div>
{{/tweets}}
</script>

<!-- users template -->
<!-- very similar to #tweets-template -->
<script id="users-template" type="text/x-mustache-template">
{{#tweets}}
	<li class="twt user" username="{{username}}" name="{{name}}" location="{{location}}">
		<img class="avatar" src="http://api.twitter.com/1/users/profile_image?size=bigger&screen_name={{username}}"/>

		<div class="name">{{name}}</div>
		<div class="username">@{{username}}</div>
		<div class="location">{{location}}</div>
	</li>
{{/tweets}}
</script>


<!-- include game script files at last -->
<script src="js/game.config.js"></script>
<script src="js/game.data.js"></script>
<script src="js/game.controller.js"></script>
<script src="js/game.view.js"></script>

</body>
</html>
